@model OnlineShoping.Models.AdminModel
<section class="scroll-section" id="personal">
    <h2 class="small-title">Admin Form</h2>
    <form class="tooltip-end-top" id="frm1" novalidate>
        <div class="card mb-5">
            <div class="card-body">
                @Html.HiddenFor(a=>a.AdminId)
                <div class="row g-3">
                    <h1>Change Password</h1>
                    <input type="hidden" id="oldpassword" name="name" value="@Session["Password"]" />
                    <div class="col-md-12">
                        <h5>Old Password</h5>
                        <label class="mb-3 top-label">
                            @Html.TextBoxFor(a=>a.AdminPassword,new { @class = "form-control" })
                           
                            <span  class="text-danger" id="addminpass">Old Password</span>
                        </label>
                    </div>

                </div>

                <div class="row g-3">
                    <div class="col-md-12">
                        <h5>New Password</h5>
                        <label class="mb-3 top-label">
                           @Html.TextBoxFor(a => a.NewPassword, new { @class = "form-control" })

                            <span class="text-danger" id="addminnew">New Password</span>
                        </label>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <h5>Conform Password</h5>
                        <label class="mb-3 top-label">
                            @Html.TextBoxFor(a => a.conformPassword, new { @class = "form-control" })

                      
                            <span class="text-danger" id="addminconfor">Conform Password</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-footer border-0 pt-0 d-flex justify-content-end align-items-center">
                <div>
                    <button   class="btn btn-icon btn-icon-end btn-primary" type="submit">
                        <span>Save</span>
                        <i data-acorn-icon="chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>
<script>
    $(document).ready(function () {
        Save();
    });
    function Save() {
        debugger;
        $('#frm1').submit(function (event) {
            event.preventDefault();
            if (PasswordValidation() == true) {
                var formdata = new FormData(document.getElementById('frm1'));
                $.ajax
                    ({
                        type: 'Post',
                        url: '/AdminHome/PasswordSave',
                        processData: false,
                        contentType: false,
                        data: formdata,
                        success: function (result) {
                            if (result == 1) {
                                toastr.success("Data has been successfully Saved");
                            }

                        }
                    })
            }
            
        })
    }
    function PasswordValidation() {
        debugger;
        var OldPasssword = $('#oldpassword').val();
        var Passsword = $('#AdminPassword').val();
        var NewPasssword = $('#NewPassword').val();
        var ConformPasssword = $('#conformPassword').val();
        var passrejex=/^.{8,}$/;
        $('#addminpass').text(Passsword == "" ? "Required" : "")
        $('#addminnew').text(NewPasssword == "" ? "Required" : "")
        $('#addminconfor').text(ConformPasssword == "" ? "Required" : "")
        if (OldPasssword == Passsword) {
            
            if (passrejex.test(NewPasssword)) {
                if (NewPasssword == ConformPasssword) {
                    return true;
                }
                else {
                    $('#addminconfor').text("New Password and Conform Password are not Matched");
                }
            }
            else {
                $('#addminnew').text("Please Enter minimum 8 digit Password");
            }
        }
        else {
            $('#addminpass').text(Passsword == "" ? "Required" : "Password are not Matched")
        }
    }
    </script>